/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Work+Sans:wght@300&display=swap'); */

html,
body {
    margin: 0;
    padding: 0;
    /* font-family: "Roboto-Regular";
    src: url("../font/Roboto-Regular.ttf"); */
}

.imglogo {
    float: left;
    mix-blend-mode: multiply;

}

.navbar-brand {
    float: left;
    margin: 10px 10px 0 70px;

}

.logname {

    margin: 25px 50px 0 0;
}

.navbar-nav {
    justify-content: center;
    text-align: center;


}

.nav-item {
    margin-left: 70px;
    justify-items: center;
    justify-content: space-between;
}

.cont {
    display: flex;
    flex-wrap: wrap;
    line-height: 65px;
}


.aside,
.main {
    width: 100%;
    height: 60px;
    float: left;
}

.aside {
    background-color: #ffffff;

    float: left;
    width: 50%;
    /* text-align: center; */

}

.main {
    background-color: #ffffff;
    width: 50%;


}

.adr,
.tel {
    float: left;
    stroke: none;

}

.tel {
    margin-left: 30px;

}

/* for ipad */
/* @media (min-width: 992px) {
    .aside {
        flex: 0 0 40%;
        max-width: 40%;
        order: 2;
    }

    .main {
        flex: 0 0 60%;
        max-width: 60%;
        order: 1;
    }
} */

.adr-menu {
    display: none;
}

.ham {
    width: 30px;
    height: 3px;
    background-color: #252a2e;
    margin: 5px;
    position: relative;
}

.ham::after,
.ham::before {
    background-color: #252a2e;
    display: block;
    content: "\260E";
    position: absolute;
    width: 100%;
    height: 100%;
}

.hamburger-menu {
    border: 2px solid rgb(149, 146, 135);
    border-radius: 10px;
    display: none;
    cursor: pointer;
}

.hamburger {
    width: 30px;
    height: 3px;
    background-color: #252a2e;
    margin: 5px;
    position: relative;

}

.hamburger::after,
.hamburger::before {
    background-color: #252a2e;
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.hamburger::after {
    top: -7px;
}

.hamburger::before {
    top: 7px;
}

@media (max-width: 992px) {
    .hamburger-menu {
        display: block;
        height: 30px;
        padding-top: 7px;

    }

    .aside {
        display: block;
        height: 30px;
        padding-top: 7px;

    }
}