/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Work+Sans:wght@300&display=swap'); */

html,
body {
    margin: 0;
    padding: 0;

}

.imglogo {
    /* float: left; */
    mix-blend-mode: multiply;
    position: relative;

}



.nav-item {
    margin-left: 60px;
    justify-items: center;
    justify-content: space-between;
}

.adr-tel {
    margin-left: 100px;
}


.adr-menu {
    display: none;
    cursor: pointer;
}

.card img:hover {
    transform: scale(1.1);
    cursor: pointer;

}

/* .ham {
    width: 30px;
    height: 3px;
    background-color: #252a2e;
    margin: 5px;
    position: relative;
} */

.ham::after,
.ham::before {
    display: block;
    content: "\260E";
    position: absolute;
    width: 100%;
    height: 100%;
}

.hamburger-menu {
    border: 2px solid rgb(149, 146, 135);
    border-radius: 10px;
    display: none;
    cursor: pointer;
}

.hamburger {
    width: 30px;
    height: 3px;
    background-color: #252a2e;
    margin: 5px;
    position: relative;

}

.hamburger::after,
.hamburger::before {
    background-color: #252a2e;
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.hamburger::after {
    top: -7px;
}

.hamburger::before {
    top: 7px;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-nav li a {
    display: inline-block;
    color: #333;
    text-decoration: none;
    padding: 1rem;
}

.navbar-nav li a:hover {
    color: #e60013;
}

.navbar-nav.show-menu {
    position: absolute;
    top: 50px;
    display: block;
    background-color: antiquewhite;
    cursor: pointer;
}



@media (max-width: 768px) {
    .logname {
        display: none;
    }
}

@media (max-width: 992px) {
    .hamburger-menu {
        display: block;
        float: right;
        height: 30px;
        padding-top: 7px;

    }

    /* .adr-menu {
        display: block;
        height: 15px;
        padding-top: 7px;
    } */

    .navbar-nav.show-menu li a {
        width: 65px;
        padding: .6rem;
    }

    /* .aside {
        display: none;

    } */
}